# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***

-list data science languages

-List data science libraries

-Table of Data Science tool

-Arithmetic expression example

-Convert minutes to hours

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

## Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy

## Table of Data Science tools:

| Data Science Tools |
| -------------|
| Jupyter |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
2+2

4

In [15]:
10-2

8

In [16]:
2.5*3.5

8.75

In [17]:
4/2

2.0

In [18]:
(3*4)+5

17

In [20]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [21]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***

-list data science languages

-List data science libraries

-Table of Data Science tool

-Arithmetic expression example

-Convert minutes to hours

## Author
Ibrahim Afzal Latheef